{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

        {% block header %}

            {% endblock %}
        {% block precontent %}

            {% endblock %}
        {% block content %}

            {% endblock %}

        {% block prefooter %}

            {% endblock %}
        {% block footer %}

            {% endblock %}
        {% block register %}

            {% endblock %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/popover.js' %}"></script>
    <script src="{% static 'js/scrollspy.js' %}"></script>
        <script type="text/javascript">
            $(document).on('submit', '#form_abonnement', function(e){
                e.preventDefault();
                $.ajax({
                    type:'post',
                    url:'create_abonne',
                    data:{
                        mail : $('#mail').val(),
                        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        alert('vous etes abonne');
                    }
                });
            });
        </script>
</body>
</html>