{% load static %}
<div class="container">
    <div class="row">
        <!--div class="col-sm-3 bg-dark">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title_recent">
                        <h3 class="recent_post">Article recent</h3>
                    </div>
                    <div class="component_recent">
                        <a href="#">fdfjh gf kjhkgj gjghjg jvhn fiujei ndjaioef jfkdf</a>
                    </div>
                    <div class="component_recent">
                        <a href="#">fdfjh gf kjhkgj gjghjg jvhn fiujei ndjaioef jfkdf</a>
                    </div>
                    <div class="component_recent">
                        <a href="#">fdfjh gf kjhkgj gjghjg jvhn fiujei ndjaioef jfkdf</a>
                    </div>
                    <div class="component_recent">
                        <a href="#">fdfjh gf kjhkgj gjghjg jvhn fiujei ndjaioef jfkdf</a>
                    </div>

                </div>
            </div>
        </div-->
        <div class="col-sm-9 bg-link">
            <div class="row">
                <div class="col-sm-12">
                    {% if articles %}
                    <div class="title_article_active">
                        <h3>{{ articles.title }}</h3>
                    </div>
                    <div class="meta_article_active">
                        <span>Par <i><u>{{ articles.user.firstname | upper }}</u>, dans <u>{{ articles.categorie.name }}</u> </i></span>, <u>{{ articles.creation_date }}</u>
                    </div>
                    <div class="img_for_article">
                        <img src="{% static 'img/back1.jpg'%}" alt="img for article" class="rounded img-fluid">
                        <p class="legend">legende de l'image</p>
                    </div>
                    <div class="body_article_active">
                        <p>
                            {{ articles.content }}
                        </p>
                    </div>

                        <div class="card my-3">
                            <div class="card-header"><span>UserName </span><i> a ecrit, il y a Datetime</i></div>
                            <div class="card-body"><p> le body du commentaire</p></div>
                            <div>



                            </div>
                        </div>

                    <div class="border border-primary rounded py-3 px-3 mb-5">
                        <form action="#" class="stacked">
                            <label for="#" class="mr-sm-2">Laisser un commentaire</label>
                            <input type="hidden" class="form-control" value="{{ articles.id }}">
                            <input type="hidden" class="form-control" value="{{ articles.user }}">
                            {{ articles.user }}
                            {{ articles.id }}
                            {# if request.session.name #}
                            {# else on y revient plutard#}
                            <input type="text" class="form-control my-2" placeholder="Tapez votre pseudo">
                            <input type="text" class="form-control my-2" placeholder="Taper votre commentaire">
                            <input type="submit" class="btn btn-primary my-2 ">
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3 bg-secondary">
            <div class="row">
                <div class="col-sm-12">
                    <div class="for_meteo">
                        <a href="#">Meteo</a>
                    </div>
                    <div class="for_maps">
                        <a href="#">Google Maps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>