<footer class="navbar navbar-expand-sm bg-info">
    <div class="row text-left">
        <div class="col">
            <!--div-- class="col-sm-4">Newsletter</div-->
            <h4 class="text-center">Newsletter</h4>
            <form action="#">
                <div class="form-group">
                    <label for="email_letter">*Email:</label>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control">
                    <p class="pt-2">En appuyant sur <span class="text-white bg-dark">S'abonner</span>, vous acceptez de recevoir
                        des notifications par mail à chaque nouvel article apparu sur promoshop.com
                    </p>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="S'abonner">
                </div>
            </form>
        </div>
        <div class="col">
            <!--div-- class="col-sm-4">Categorie</div-->
            <h4 class="text-center">Categorie</h4>
            <p><a href="" class="text-white">Differentes categories d'articles</a></p>
        </div>
        <div class="col">
            <!--div class="col-sm-4">Promoshop</div-->
            <h4 class="text-center">Promoshop</h4>
            <p>Description du site</p>
        </div>
            <div class="col-sm-12 text-center ">
                <a href="#" class="text-white">facebook</a>
                <a href="#"  class="text-white">twitter</a>
                <a href="#"  class="text-white">instagram</a>
            </div>
            <div class="col-sm-12 text-center "><a href="#"  class="text-white">copyright &copy; 2019 Bigga</a></div>
    </div>

</footer>