
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-end">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
              <!-- li class="nav-item">
              <a class="nav-link bg-success rounded py-2" href="login_page"> Connexion</a>
            </li-->
              {% if request.session.name %}
              <li class="nav-item">
              <a class="nav-link bg-success rounded py-2" href="logout_user"> Deconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Connected, {{ request.session.name }} {{ request.session.id }}</a>
            </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link bg-success rounded py-2" href="login_page"> Connexion</a>
                </li>
              {% endif %}

          </ul>
            <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        </nav>