
<div class="row">
                <div class="col-sm-12">
                    <div class="for_meteo">
                        <h3>Articles Récent</h3>
                        {% for article in all %}
                        <p class="text-link"><a href="{{ article.id }}">- {{ article.title }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="for_maps">
                        <a href="#">Google Maps</a>
                    </div>
                </div>
            </div>