{% load static %}
<div class="container center">
    <div class="row">
        <!--div class="col-sm-12 bg-danger"-->
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/nes.JPG' %}" alt="Los Angeles">
                <div class="carousel-caption">
                  <h3>Titre caption</h3>
                  <p class="text-danger">Paragraphe captionk for de the first</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/car1.JPG' %}" alt="Chicago">
                <div class="carousel-caption">
                <h3>Fuyant de la route</h3>
                <p>Pourquoi fuir meme devant le danger venant?</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/back1.JPG' %}" alt="New York">
                <div class="carousel-caption">
                  <h3>following carousel item</h3>
                  <p>paragraph</p>
                </div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div>
        <!--/div-->
    </div>
</div>