{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin || Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 bg-danger">
                kfdf
            </div>
            <div class="col-sm-4 bg-danger">
                {% if request.session.name %}
                    <p>{{request.session.name}}</p>
                {% else %}
                    <p>Aucune session ouverte</p>
                {% endif %}
            </div>
            <div class="col-sm-4 bg-danger">
                dfdsfdsfdf
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="p-0 bg-primary ">
                    <p>identité</p>
                </div>
                <div class="mt-lg-5">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item"><a href="create_article_page">Nouvel article</a></li>
                        <li class="list-group-item"><a href="#">Nouvel utilisateur</a></li>
                        <li class="list-group-item"><a href="#">Options</a></li>
                        <li class="list-group-item"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10 bg-link">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8 p-5">
                             <h4>Articles</h4>
                            <table class="table table-stripped">
                                <tr>
                                    <th>Titres</th>
                                    <th><span class="fa fa-flag"></span>Actions</th>
                                </tr>
                            {% for article in active_article %}
                                <tr>
                                    <td href="#">
                                        {{ article.title }}
                                        </td>
                                    <td href="">
                                        <a href="edit_article_page/{{article.id}}" class="text-primary">Modifier</a>

                                        <a href="corbeille_article/{{article.id}}" class="text-danger">Corbeille</a></td>
                                    </tr>
                            {% endfor %}
                                </table>
                        </div>

                        <div class="col-sm-4 rounded-bottom pb-2 overflow-auto h-50 bg-secondary">
                                <h4>Abonnés</h4>
                                <ol class="list-group">
                                {% for abonne in abonnes %}
                                    <li class="list-group-item">
                                    {{ abonne.mails }}
                                        </li>
                                    {% endfor %}
                                    </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 rounded-top">

                                <table class="table table-hover">
                                    <caption>Corbeille</caption>
                                    {% for disact in disactive_article %}
                                    <tr>
                                        <td><a href="" class="text-secondary">{{disact.title}}</a></td>
                                        <td><a href="restore/{{disact.id}}" class="text-primary">Restore</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>

                        </div>
                        &#xf003;
                        <div class="col-sm-6 rounded-top" data-spy="scroll" bg-secondary ml-sm-1>
                            <div><input type="text" id="commentFilter" class="rounded">
                                <label for="commentFilter">Search</label>
                            </div>
                            <h4>Commentaires</h4>
                            <ol id="comments_list">
                                {% for comment in comments %}
                                    <li>
                                        <a href="#" class="text-dark" data-toggle="tooltip" title="Edit article" >{{ comment.commentaire }}</a> by
                                        <a href="#" data-toggle="tooltip" title="View user">{{ comment.user.firstname }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                    <div class="row bg-link">
                        <div class="col-sm-2 bg-danger" >
                            {% for ip in ip_address %}
                                <span>{{ ip }}</span>
                            {% endfor %}

                        </div>
                        <div class="col-sm-4 bg-link" >sdfdsf</div>
                        <div class="col-sm-4 bg-primary" >qdsfqdf</div>
                        <div class="col-sm-2 bg-info" >qsdfqdf</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script>

    </script>
</body>
</html>