{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creation d'un nouvel article</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="col-lg-4">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control rounded" placeholder="user">
                
            </div>
            <div class="form-group">
                <label for="">Titre de l'article</label>
                <input type="text" class="form-control rounded" value="Entrez le titre">
            </div>
            <div class="form-group">
                <label for="paragraphe">Entrez le paragraphe de l'article</label>
                <textarea name="paragraphe" id="paragraphe" cols="100" rows="20"></textarea>
            </div>
            <div class="form-group">
                <label for="categorie">Que faire de l'article?(définir l'état)</label>
                <select name="categorie" id="categorie">
                    <option value="opened">Enregistrer et publier</option>
                    <option value="closed">Enregistrer sans publier</option>
                    <option value="draft">Mettre au brouillon</option>
                </select>
            </div><div class="form-group">
            <input type="checkbox" name="newsletterable" id="newsletterable" class="" checked >
            <label for="newsletterable">Envoyer cet article aux abonnés par email</label>

            </div>
            <div class="form-group">
                <label for="categorie">Catégorie de l'article</label>
                <select name="categorie" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer un nouvel article" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
</body>
</html>
